:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 36px;
  position: relative;
  padding: 36px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.row-layout {
  display: flex;
}
.group_1 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 36px;
  position: relative;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_2 {
  background-color: hsla(var(--igx-secondary-100));
  border-radius: 16px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 300px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  background-color: hsla(var(--igx-primary-100));
  border-radius: 16px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 300px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
